.root{

    -fx-background-color: linear-gradient(to bottom,#f4f7ff,#dbeafe);
    -fx-font-family: "Segoe UI";
}

.button{

    -fx-background-color: #6c63ff;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.button:hover{

    -fx-background-color: #574bdb;
}

.main-title{

    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: #1e293b;
}

.sub-title{

    -fx-font-size: 70px;
    -fx-font-weight: bold;
    -fx-text-fill: white;

    -fx-background-color: #6c63ff;

    -fx-padding: 10 25 10 25;
}
